<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">

    <link rel="stylesheet" href="../css/article_books.css">
</head>
<body>

<nav>
    <div class="nav_title">Магистр</div>
    <div class="links">
        <a href="index.html">Главная</a>
        <a class="active" href="books_detective.html">Книги</a>
        <a href="company.html">О компании</a>
        <a href="developer.html">Об авторе</a>
    </div>
</nav>

<div class="main-container">

    <header>
        Книги
    </header>

    <article>
        <div class="category">
            <a class="chip" href="books_detective.html">Детектив</a>
            <a class="chip" href="books_romance.html">Романтика</a>
            <a class="chip chip-active" href="books_poetry.html">Поэзия</a>
        </div>

        <div class="items">
            <div class="item corners elevation">
                <img src="../images/poetry/book_1.jpg" alt="book image">
                <div class="item-content">
                    <div class="name">Простите, простите, простите меня… Стихотворения</div>
                    <div class="description">Володин А.</div>
                    <div class="price">842₽</div>
                </div>
            </div>

            <div class="item corners elevation">
                <img src="../images/poetry/book_2.jpg" alt="book image">
                <div class="item-content">
                    <div class="name">Волшебный фонарь</div>
                    <div class="description">Цветаева М.</div>
                    <div class="price">642₽</div>
                </div>
            </div>

            <div class="item corners elevation">
                <img src="../images/poetry/book_3.jpg" alt="book image">
                <div class="item-content">
                    <div class="name">Василий Теркин</div>
                    <div class="description">Твардовский А.</div>
                    <div class="price">146₽</div>
                </div>
            </div>

            <div class="item corners elevation">
                <img src="../images/poetry/book_4.jpg" alt="book image">
                <div class="item-content">
                    <div class="name">Избранные стихи и поэмы</div>
                    <div class="description">Есенин С.</div>
                    <div class="price">236₽</div>
                </div>
            </div>

            <div class="item corners elevation">
                <img src="../images/poetry/book_5.jpg" alt="book image">
                <div class="item-content">
                    <div class="name">Избранные стихи и поэма</div>
                    <div class="description">Маяковский В.</div>
                    <div class="price">236₽</div>
                </div>
            </div>

            <div class="item corners elevation">
                <img src="../images/poetry/book_6.jpg" alt="book image">
                <div class="item-content">
                    <div class="name">Избранные стихи и поэмы</div>
                    <div class="description">Блок А.</div>
                    <div class="price">236₽</div>
                </div>
            </div>

            <div class="item corners elevation">
                <img src="../images/poetry/book_7.jpg" alt="book image">
                <div class="item-content">
                    <div class="name">Мне осталась одна забава. Исповедь хулигана. Сборник</div>
                    <div class="description">Есенин С.</div>
                    <div class="price">578₽</div>
                </div>
            </div>

            <div class="item corners elevation">
                <img src="../images/poetry/book_8.jpg" alt="book image">
                <div class="item-content">
                    <div class="name">Весна.Стихи. Печали. Дневник Миши Файнермана</div>
                    <div class="description">Вайман Н. (сост.)</div>
                    <div class="price">356₽</div>
                </div>
            </div>

            <div class="item corners elevation">
                <img src="../images/poetry/book_9.jpg" alt="book image">
                <div class="item-content">
                    <div class="name">Вторичные признаки жизни</div>
                    <div class="description">Агол В.</div>
                    <div class="price">200₽</div>
                </div>
            </div>

            <div class="item corners elevation">
                <img src="../images/poetry/book_10.jpg" alt="book image">
                <div class="item-content">
                    <div class="name">Сокровенность</div>
                    <div class="description">Зимин М.</div>
                    <div class="price">258₽</div>
                </div>
            </div>
        </div>
    </article>

    <footer>
        <div>© 2019</div>
        <div>evgeniy.kiryanov@roonyx.tech</div>
        <img class="logo_roonyx" src="../images/roonyx_logo.png" alt="Roonyx Logo">
    </footer>

</div>

</body>
</html>