<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../views/css/main.css">
    <link rel="stylesheet" href="../../views/css/nav.css">
    <link rel="stylesheet" href="../../views/css/header.css">
    <link rel="stylesheet" href="../../views/css/footer.css">

    <link rel="stylesheet" href="../../views/css/article_books.css">
</head>
<body>

<nav>
    <div class="nav_title">Магистр</div>
    <div class="links">
        <a href="index.html">Главная</a>
        <a class="active" href="books_detective.html">Книги</a>
        <a href="company.html">О компании</a>
        <a href="developer.html">Об авторе</a>
    </div>
</nav>

<div class="main-container">

    <header>
        Книги
    </header>

    <article>
        <div class="category">
            <a class="chip" href="books_detective.html">Детектив</a>
            <a class="chip chip-active" href="books_romance.html">Романтика</a>
            <a class="chip" href="books_poetry.html">Поэзия</a>
        </div>

        <div class="items">
            <div class="item corners elevation">
                <img src="../../images/romance/book_1.jpg" alt="book image">
                <div class="item-content">
                    <div class="name">Романическая проза. В двух томах. Том 2. Жан и Жанетта. Аватара. Джеттатура. Роман о мумии. Спирита.</div>
                    <div class="description">Готье Т.</div>
                    <div class="price">1980₽</div>
                </div>
            </div>

            <div class="item corners elevation">
                <img src="../../images/romance/book_2.jpg" alt="book image">
                <div class="item-content">
                    <div class="name">Королевская страсть</div>
                    <div class="description">Ли Ж.</div>
                    <div class="price">542₽</div>
                </div>
            </div>

            <div class="item corners elevation">
                <img src="../../images/romance/book_3.jpg" alt="book image">
                <div class="item-content">
                    <div class="name">Последние романтики</div>
                    <div class="description">Гилберт Э.</div>
                    <div class="price">1238₽</div>
                </div>
            </div>

            <div class="item corners elevation">
                <img src="../../images/romance/book_4.jpg" alt="book image">
                <div class="item-content">
                    <div class="name">Пицунда. Роман в двух книгах</div>
                    <div class="description">Товбин А.</div>
                    <div class="price">990₽</div>
                </div>
            </div>

            <div class="item corners elevation">
                <img src="../../images/romance/book_5.jpg" alt="book image">
                <div class="item-content">
                    <div class="name">Три метра над небом. Трижды ты</div>
                    <div class="description">Моччиа Ф.</div>
                    <div class="price">882₽</div>
                </div>
            </div>

            <div class="item corners elevation">
                <img src="../../images/romance/book_6.jpg" alt="book image">
                <div class="item-content">
                    <div class="name">Последние парень и девушка на Земле</div>
                    <div class="description">Вивьен Ш.</div>
                    <div class="price">776₽</div>
                </div>
            </div>

            <div class="item corners elevation">
                <img src="../../images/romance/book_7.jpg" alt="book image">
                <div class="item-content">
                    <div class="name">Удача улыбается</div>
                    <div class="description">Славинский А.</div>
                    <div class="price">777₽</div>
                </div>
            </div>

            <div class="item corners elevation">
                <img src="../../images/romance/book_8.jpg" alt="book image">
                <div class="item-content">
                    <div class="name">Ты создана для этого. Роман</div>
                    <div class="description">Сакс М.</div>
                    <div class="price">643₽</div>
                </div>
            </div>

            <div class="item corners elevation">
                <img src="../../images/romance/book_9.jpg" alt="book image">
                <div class="item-content">
                    <div class="name">Воспоминания ангела-хранителя. Облако неведения</div>
                    <div class="description">Херманс В.</div>
                    <div class="price">639₽</div>
                </div>
            </div>
        </div>
    </article>

    <footer>
        <div>© 2019</div>
        <div>evgeniy.kiryanov@roonyx.tech</div>
        <img class="logo_roonyx" src="../../images/roonyx_logo.png" alt="Roonyx Logo">
    </footer>

</div>

</body>
</html>