<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../views/css/main.css">
    <link rel="stylesheet" href="../../views/css/nav.css">
    <link rel="stylesheet" href="../../views/css/header.css">
    <link rel="stylesheet" href="../../views/css/footer.css">

    <link rel="stylesheet" href="../../views/css/article_books.css">
</head>
<body>

<nav>
    <div class="nav_title">Магистр</div>
    <div class="links">
        <a href="index.html">Главная</a>
        <a class="active" href="books_detective.html">Книги</a>
        <a href="company.html">О компании</a>
        <a href="developer.html">Об авторе</a>
    </div>
</nav>

<div class="main-container">

    <header>
        Книги
    </header>

    <article>
        <div class="category">
            <a class="chip chip-active" href="books_detective.html">Детектив</a>
            <a class="chip" href="books_romance.html">Романтика</a>
            <a class="chip" href="books_poetry.html">Поэзия</a>
        </div>

        <div class="items">
            <div class="item corners elevation">
                <img src="../image/detective/book_1.jpg" alt="book image">
                <div class="item-content">
                    <div class="name">Всегда вчерашнее завтра</div>
                    <div class="description">Абдуллаев Ч.</div>
                    <div class="price">152₽</div>
                </div>
            </div>

            <div class="item corners elevation">
                <img src="../image/detective/book_2.jpg" alt="book image">
                <div class="item-content">
                    <div class="name">Живи и дай умереть</div>
                    <div class="description">Ли Ж.</div>
                    <div class="price">542₽</div>
                </div>
            </div>

            <div class="item corners elevation">
                <img src="../image/detective/book_3.jpg" alt="book image">
                <div class="item-content">
                    <div class="name">Операция Black Bag</div>
                    <div class="description">Нибур Н.</div>
                    <div class="price">660₽</div>
                </div>
            </div>

            <div class="item corners elevation">
                <img src="../image/detective/book_4.jpg" alt="book image">
                <div class="item-content">
                    <div class="name">Киллер</div>
                    <div class="description">Вуд Т.</div>
                    <div class="price">495₽</div>
                </div>
            </div>

            <div class="item corners elevation">
                <img src="../image/detective/book_5.jpg" alt="book image">
                <div class="item-content">
                    <div class="name">Казино "Бон Шанс"</div>
                    <div class="description">Веденеев В.</div>
                    <div class="price">472₽</div>
                </div>
            </div>

            <div class="item corners elevation">
                <img src="../image/detective/book_6.jpg" alt="book image">
                <div class="item-content">
                    <div class="name">Город изгнанников</div>
                    <div class="description">Беглова Н.</div>
                    <div class="price">465₽</div>
                </div>
            </div>

            <div class="item corners elevation">
                <img src="../image/detective/book_7.jpg" alt="book image">
                <div class="item-content">
                    <div class="name">Агент, бывший в употреблении</div>
                    <div class="description">Райнов Б.</div>
                    <div class="price">462₽</div>
                </div>
            </div>

            <div class="item corners elevation">
                <img src="../image/detective/book_8.jpg" alt="book image">
                <div class="item-content">
                    <div class="name">Шпион выйди вон</div>
                    <div class="description">Карре Дж.</div>
                    <div class="price">356₽</div>
                </div>
            </div>

            <div class="item corners elevation">
                <img src="../image/detective/book_9.jpg" alt="book image">
                <div class="item-content">
                    <div class="name">В Париже дорого умирать</div>
                    <div class="description">Дейтон Л.</div>
                    <div class="price">289₽</div>
                </div>
            </div>

            <div class="item corners elevation">
                <img src="../image/detective/book_10.jpg" alt="book image">
                <div class="item-content">
                    <div class="name">500</div>
                    <div class="description">Квирк М.</div>
                    <div class="price">500₽</div>
                </div>
            </div>
        </div>
    </article>

    <footer>
        <div>© 2019</div>
        <div>evgeniy.kiryanov@roonyx.tech</div>
        <img class="logo_roonyx" src="../../images/roonyx_logo.png" alt="Roonyx Logo">
    </footer>

</div>

</body>
</html>