<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">

    <link rel="stylesheet" href="../css/article_developer.css">
</head>
<body>

<nav>
    <div class="nav_title">Магистр</div>
    <div class="links">
        <a href="index.html">Главная</a>
        <a href="books_detective.html">Книги</a>
        <a href="company.html">О компании</a>
        <a class="active" href="index.html">Об авторе</a>
    </div>
</nav>

<div class="main-container">

    <header>
        Об авторе
    </header>

    <article>
        <div class="card">
            <img src="../images/developer.jpeg" alt="Kiryanov Evgeniy">
            <div class="card-content">
                <div class="card-title">Кирьянов Евгений</div>
                <div class="card-subtitle">Android Developer</div>
                <div class="card-text">
                    Я студент 4 курса ДГТУ.
                 </div>
            </div>
        </div>
        <div class="portfolio">Мое портфолио</div>
        <div class="app-container">
            <div class="app-item elevation"><img src="../images/portfolio/orc-1.png" alt=""></div>
            <div class="app-item elevation"><img src="../images/portfolio/orc-2.png" alt=""></div>
            <div class="app-item elevation"><img src="../images/portfolio/orc-3.png" alt=""></div>
            <div class="app-item elevation"><img src="../images/portfolio/orc-4.png" alt=""></div>
        </div>
    </article>

    <footer>
        <div>© 2019</div>
        <div>evgeniy.kiryanov@roonyx.tech</div>
        <img class="logo_roonyx" src="../images/roonyx_logo.png" alt="Roonyx Logo">
    </footer>

</div>

</body>
</html>