footer {
    background-color: #24221c;
    color: #fcfcfc;
    display: flex;
    align-items: center;
    padding: 24px;
}

footer > div:first-of-type {
    flex-grow: 1;
}

footer > .logo_roonyx {
    width: 64px;
    height: 64px;
    margin-left: 24px;
    border-radius: 32px;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}